<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
  </head>
  <body>
      <h1>Anfisa for friends</h1>
       <img src="https://pictures.s3.yandex.net/resources/anfisa_1594642601.png">
       <br>
      <p>
        {{ friend_output }}
      </p>
      <p>
        {{ city_weather }}
      </p>     
      <p>
        {{ conclusion }}
      </p>
      <form action="/" method="post">
        <h2>Choose friend</h2>
          {{ friends|safe }}
        <h2>Choose icecream</h2>
          {{ icecreams|safe }}
        <br>
        <input type="submit" value="Угостить">
      </form>

  </body>
</html>
