<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Anfisa for friends</h1>
    <h2>{{ name }}</h2>
    <p>{{ description }}</p>
    <br>
    <br>
    <a href="/">To main page</a>
</body>
</html>
